# App
PORT=8050
BASE_URL=http://127.0.0.1:8050/
NODE_ENV=development
ALLOWED_ORIGINS=*

# Throttle
THROTTLE_TTL=60
THROTTLE_LIMIT=100

# Database
DATABASE_URL="mongodb+srv://username:password@hostname/hackini_db?retryWrites=true&w=majority"

#JWT
JWT_SECRET=secret

# Email Configuration for Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=your-gmail-address@gmail.com
EMAIL_PASSWORD=your-gmail-password
EMAIL_FROM=your-gmail-address@gmail.com

# Redis Cache
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Logging
LOG_LEVEL=debug
LOG_FORMAT=combined

# File Upload Configuration
MAX_FILE_SIZE=5242880
UPLOAD_DIRECTORY=uploads

# Project Files Configuration
PROJECT_FILES_DIR=uploads/ProjectFiles
PROJECT_FILES_MAX_SIZE=10485760  # 10MB in bytes

# Project Videos Upload
PROJECT_VIDEOS_DIR=uploads/ProjectVideos
PROJECT_VIDEOS_MAX_SIZE=52428800  #50MB


# Post Media Upload Configuration
POST_MEDIA_MAX_IMAGE_SIZE=5242880    # 5MB in bytes
POST_MEDIA_MAX_VIDEO_SIZE=10485760   # 10MB in bytes
POST_MEDIA_IMAGES_DIR=uploads/postMedia/images
POST_MEDIA_VIDEOS_DIR=uploads/postMedia/videos

# Notes:
# - PROJECT_FILES_DIR: Base directory for project files
# - PROJECT_FILES_MAX_SIZE: Maximum size for project files (10MB recommended)
# - File types supported: PDF, PNG, JPG, PPT
# - Each project gets its own subdirectory: project-{projectId}/
# - Files are automatically timestamped to avoid naming conflicts
